
@model IEnumerable<ASW_University.Models.Cursos>

@{
    ViewBag.Title = "Cursos";
    <h3>@ViewBag.Message</h3>
}

<h2>Cursos</h2>

<p>
    Os Cursos listados abaixo foram extraídos através de um serviço que comunica com o sistema do MEC
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
       
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            
           
        </tr>
    }

</table>
