@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASW University</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Bem vindo à ASW University</h2>
        <p>
            ASW University é uma aplicação para testes da 
            modelagem da arquitetura construída na disciplina Arquitetura de Sistemas WEB, 
            universidade PUC/MINAS novembro/2015
        </p>
    </div>
</div>